{% extends 'opiniones/base.html' %}

{% block content %}

            <div class="col align-self-center">
                <div>
                    <h1>Aqui estan algunas palabras de nuestros clientes satisfechos</h1>
                </div>
                {% for t in pag_obj %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ t.imagen.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ t.titulo }}</h5>
                        <p class="card-text">{{ t.comentario }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if pag_obj.has_previous %}
                            <a href="?page=1">&laquo;first</a>
                            <a href="?page={{ pag_obj.previous_numero_pag }}">previous</a>
                        {% endif %}
                        <span class="current">Pagina {{ pag_obj.number }} of {{ pag_obj.paginador.num_pages }}.</span>
                        {% if pag_obj.has_next %}
                            <a href="?page={{ pag.obj.next_numero_pag }}">Siguente</a>
                            <a href="?page={{ pag_obj.paginador.num_pages }}">Ultimo&raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>

{% endblock %}

{% block publivarios %}

{% load static %}
            <div class="col align-self-end">
                <img src="{% static 'opiniones/imagenes/Publicidad1.png' %}" height="600px" width="380px" alt="Ad2">
            </div>

{% endblock %}