{% extends 'core/base.html' %}

{% block content %}

            <div class="col align-self-center">
                <h2>Tus mensajes y correos en el menor tiempo posible</h2>
                <p>En CorreoYa nos preocupamos por entregrar de forma casi inmediata cualquier correspondencia que se nos sea entregada</p>
            </div>

{% endblock %}

{% block publivarios %}

            <div class="col align-self-end">
                <img src="https://cdn.pixabay.com/photo/2020/11/23/16/34/black-friday-5770278_1280.png" height="600px" width="380px" alt="Ad2">
            </div>

{% endblock %}