{% extends 'paquetes/base.html' %}

{% block content %}

            <div class="col align-self-center">
                <div>
                    <h1>Estos son algunos de los envios que podemos realizar</h1>
                </div>
                {% for l in paquete %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ l.imagen.url }}" class="card-img-top" alt="foto">
                    <div class="card-body">
                        <h5 class="card-title">{{ l.title }}</h5>
                        <p class="card-text">{{ l.descrip }}</p>
                        <p class="card-text">{{ l.apertura|date:"SHORT_DATE_FORMAT" }}</p>
                        <p class="card-text">Es aprobado por: {{ l.aprobador }}</p>
                        {% for e in l.etiquetas.all %}
                        <a href="{% url 'etiqueta' e.id %}" class="btn btn-danger">{{ e.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}

{% block publivarios %}
{% load static %}
            <div class="col align-self-end">
                <img src="{% static 'paquetes/imagenes/Publicidad3.jpg' %}" height="600px" width="380px" alt="Ad2">
            </div>

{% endblock %}