{% extends 'core/base.html' %}


{% block content %}

            <div class="col align-self-center">
                <div>
                    <h3>CorreosYa es una compañia fundada en 1989</h3>
                    <p>Desde ese dia nos hemos esmerado en dar la mejor calidad en cuanto entrega de correos se tratase, logrando espandirnos por todo chile y ser reconocidos por varios canales por nuestra gran calidad de servicio</p>
                </div>
            </div>

{% endblock %}

{% block publivarios %}

{% load static %}
            <div class="col align-self-end">
                <img src="{% static 'core/imagenes/Publicidad4.png' %}" height="600px" width="380px" alt="Ad2">
            </div>

{% endblock %}